<div class="col-sm-9 padding-right" ng-controller="containerController">
    <div class="features_items">
        <!--features_items-->
        </br>
        </br>
        <h2 class="title text-center">What's New</h2>
        <div class="col-sm-4" ng-repeat="product in products">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <a ui-sref="productDetails({id: product._id})">
                            <img ng-src="{{product.image}}" alt="">
                        </a>
                        <h2>&#8377; {{product.rate}}</h2>
                        <p>{{product.name}}</p>
                        <a href="#" class="btn btn-default add-to-cart" ng-click="addToCart(product)">Add tocart</a>
                    </div>
                    <!-- <div class="product-overlay">
                          <div class="overlay-content">
                              <h2>&#8377; {{product.rate}}</h2>
                              <p>{{product.name}}</p>
                              <a href="#" class="btn btn-default add-to-cart" ng-click="addToCart(product)">Add tocart</a>
                          </div>
                      </div> -->
                </div>
                <!-- <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li>
                            <a href="#">Add to wishlist</a>
                        </li>
                        <li>
                            <a href="#">Add to compare</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>

</div>
