<!-- <ng-include src="'slider/slider.html'"></ng-include> -->
<div class="col-sm-12 padding-right" ng-controller="containerController">
    <div class="features_items">
        </br>
        </br>
        <h2 class="title text-center">What's New</h2>
        <div class="col-sm-3" ng-repeat="product in products">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <a ui-sref="productDetails({id: product._id})">
                            <img class="productinfoImg" ng-src="{{product.image}}" alt="">
                        </a>
                        <h2>&#8377; {{product.rate}}</h2>
                        <p>{{product.name}}</p>
                        <a class="btn btn-default add-to-cart" ng-click="addToCart(product)">Add tocart</a>
                        &nbsp;<a class="btn btn-default add-to-cart" ui-sref="cart">Go to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
