<header id="header" ng-controller="headerController">
    <div class="header_top">
    </div>

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo pull-left">
                        <a ui-sref="container"><img src="images/home/logo.png" alt=""></a>
                    </div>
                    <div class="btn-group pull-right">
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="searchText" ng-change="search()" ng-keydown="$event.which === 13 && navigateToContainer()" />
                </div>
                <div class="col-sm-4">

                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a ui-sref="cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li ng-if="!userService.user.username"><a href="#" ui-sref="login"><i class="fa fa-lock"></i> Login</a></li>
                            <!-- <li ng-if="userService.user.username"><a href="#" ng-click="logout()"><i class="fa fa-unlock"></i> Logout</a></li>
                            <li ng-if="userService.user.username"><a ui-sref="profile">{{userService.user.username}}</a></li> -->
                        </ul>&nbsp;

                        <div class="btn-group" ng-if="userService.user.username">
                            <button type="button" class="btn btn-primary" data-toggle="dropdown" style="margin-top:0px">
                            {{userService.user.username}}</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-top:0px">
                              <span class="caret"></span><span class="sr-only">{{userService.user.username}}</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ui-sref="profile">Profile </a></li></br>
                                <li><a ui-sref="checkout">Change Address</a></li></br>
                                <li><a href="#" ng-click="logout()">Log Out </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->
    <!-- <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a ui-sref="container" class="active">Home</a></li>
                            <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="shop.html">Products</a></li>
                                    <li><a href="product-details.html">Product Details</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="login.html">Login</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="search_box">
                        <input type="text" placeholder="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div id="loginDialogue" title="Login" style="display:none">
        <div>
            <ul class="nav">
                <li>
                    <label><button class="btn-facebook" ng-click="authenticate('facebook')">Sign in with Facebook</button>
              </label>
                </li>
                <li>
                    <label><button class="btn-google" ng-click="authenticate('google')">Sign in with Google</button></label>
                </li>
            </ul>
        </div>
    </div>
</header>
