<header id="header" ng-controller="headerController">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i>+91-8042255545</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>info@currybhari.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a ui-sref="container"><img src="images/home/logo.png" alt="" /></a>
                    </div>
                    <div class="btn-group pull-right">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href="#"><i class="fa fa-user"></i> Account</a></li> -->
                            <!-- <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li> -->
                            <li><a ui-sref="checkout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                            <li><a ui-sref="cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li ng-if="!userService.user.picture"><a href="#" ng-click="showLoginDialogue()"><i class="fa fa-lock"></i> Login</a></li>
                            <li ng-if="userService.user.picture"><a href="#" ng-click="logout()"><i class="fa fa-lock"></i> Logout</a></li>
                            <li ng-if="userService.user.picture"><img src="{{userService.user.picture}}" width="32px"/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->
    <!-- <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a ui-sref="container" class="active">Home</a></li>
                            <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="shop.html">Products</a></li>
                                    <li><a href="product-details.html">Product Details</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="login.html">Login</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="search_box">
                        <input type="text" placeholder="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div id="loginDialogue" title="Login" style="display:none">
      <ul class="nav">
          <li>
              <label><button class="btn-facebook" ng-click="authenticate('facebook')">Sign in with Facebook</button>
              </label>
          </li>
          <li>
              <label><button class="btn-google" ng-click="authenticate('google')">Sign in with Google</button></label>
          </li>
      </ul>
    </div>
</header>
