<section id="cart_items" ng-controller="checkoutController">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div>
        <!--/breadcrums-->

        <div id="accordion">
            <h3 class="accordianHeader">Login Information</h3>
            <div>
                <div class="checkout-options">
                    <ul class="nav">
                        <li>
                            <label><button class="btn-facebook" ng-click="authenticate('facebook')">Sign in with Facebook</button>
                            </label>
                        </li>
                        <li>
                            <label><button class="btn-google" ng-click="authenticate('google')">Sign in with Google</button></label>
                        </li>
                    </ul>
                </div>
                <!--/checkout-options-->

                <div class="register-req">
                    <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
                </div>
                <!--/register-req-->

            </div>
            <h3 class="accordianHeader">Address Information</h3>
            <div>
                <div class="shopper-informations">
                    <div class="row">
                        <div class="col-sm-6 clearfix">
                            <div class="bill-to">
                                <p>Bill To</p>
                                <div class="form-one">
                                    <form>
                                        <input type="text" placeholder="First Name *">
                                        <input type="text" placeholder="Middle Name">
                                        <input type="text" placeholder="Last Name *">
                                        <input type="text" placeholder="Phone *">
                                        <input type="text" placeholder="Mobile Phone">
                                    </form>
                                </div>
                                <div class="form-two">
                                    <form>
                                      <input type="text" placeholder="Address 1 *">
                                      <input type="text" placeholder="Address 2">
                                      <input type="text" placeholder="Zip / Postal Code *">
                                      <select>
                                            <option>-- Country --</option>
                                            <option>India</option>
                                       </select>
                                       <select>
                                            <option>-- State / Province / Region --</option>
                                            <option>India</option>
                                      </select>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <h3 class="accordianHeader">Section 3</h3>
            <div>
                </br>
                </br>
                <div class="shopper-informations">
                    <div class="payment-options">
                        <span>
                      <label><input type="checkbox"> Direct Bank Transfer</label>
                    </span>
                        <span>
                      <label><input type="checkbox"> Check Payment</label>
                    </span>
                        <span>
                      <label><input type="checkbox"> Paypal</label>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(function() {
                $("#accordion").accordion();
            });
        </script>
</section>
