<section id="cart_items" ng-controller="checkoutController">
    <div class="alert alert-danger" ng-if="error">
        <strong>Danger!</strong> {{error}}
    </div>
    <div class="container m-t-3">
        <div class="row">

            <!-- Checkout Form -->
            <div class="col-md-9">
                <div class="title"><span>Enter shipping address</span></div>
                </br>
                <form>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="addressInput">Address (*)</label>
                            <textarea class="form-control" rows="3" id="addressInput" ng-model="address.address"></textarea>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="cityInput">City (*)</label>
                            <select ng-model="address.city" ng-options="city for city in cityList" class="form-control" ng-init="address.city = cityList[0]">
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="postInput">Post Code (*)</label>
                            <select ng-model="address.postCode" ng-options="postCode.Pincode for postCode in pinCodesList" class="form-control" ng-init="address.postCode = pinCodesList[0].Pincode">
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="countryInput">Country (*)</label>
                            <select ng-model="address.country" ng-options="country for country in countryList" class="form-control" ng-init="address.country = countryList[0]">
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="regionInput">Region / State (*)</label>
                            <select ng-model="address.region" ng-options="region for region in regionList" class="form-control" ng-init="address.region = regionList[0]">
                            </select>
                        </div>
                    </div>
                    <nav aria-label="Checkout Next Navigation">
                        <ul class="pager">
                            <li class="previous"><a ui-sref="cart"><span aria-hidden="true">←</span> Back to Cart</a></li>
                            <li class="next"><a href="#" ng-click="confirmOrder()">Proceed <span aria-hidden="true">→</span></a></li>
                        </ul>
                </form>
            </div>
            <!-- End Checkout Form -->
</section>
