<div class="crud-form" data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-controller="adminProductsController">
    <div class="container gc-container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-label">
                    <div class="floatL l5 text-center ">
                        <h2>{{mode==='add'?'Add Product':'Edit Product'}}</h2>
                    </div>
                </div>
                <div class="form-container table-container">
                    <form action="/demo/bootstrap_theme/insert" method="post" id="crudForm" enctype="multipart/form-data" class="form-horizontal" accept-charset="utf-8">
                        <div class="form-group customerName_form_group">
                            <label class="col-sm-3 control-label">
                                        Name                                    </label>
                            <div class="col-sm-9">
                                <input id="field-customerName" class="form-control" name="customerName" type="text" value="" maxlength="50" ng-model="productObj.name"> </div>
                        </div>
                        <div class="form-group contactLastName_form_group">
                            <label class="col-sm-3 control-label">
                                        Description                                    </label>
                            <div class="col-sm-9">
                                <input id="field-contactLastName" class="form-control" name="contactLastName" type="text" value="" maxlength="50" ng-model="productObj.description"> </div>
                        </div>
                        <div class="form-group contactFirstName_form_group">
                            <label class="col-sm-3 control-label">
                                        Rate                                    </label>
                            <div class="col-sm-9">
                                <input id="field-contactFirstName" class="form-control" name="contactFirstName" type="text" value="" maxlength="50" ng-model="productObj.rate"> </div>
                        </div>

                        <div class="form-group contactFirstName_form_group">
                            <label class="col-sm-3 control-label">
                                      Image                                    </label>
                            <div class="col-sm-9">
                                <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" /> Image thumbnail:
                                <img style="width:100px;" ng-show="!!file" ngf-thumbnail="file || '/thumb.jpg'" />
                                <i ng-show="file.$error.required">*required</i><br>
                                <i ng-show="file.$error.maxSize">File too large {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                    </form>
                    </div>
                    <p>{{up.progress}}</p>
                    </div>
                    </form>
                </div>

                <div class="small-loading hidden" id="FormLoading">Loading, saving data...</div>

                <div class="form-group">
                    <div id="report-error" class="report-div error bg-danger" style="display:none"></div>
                    <div id="report-success" class="report-div success bg-success" style="display:none"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button ng-if="mode==='add'" class="btn btn-default btn-success b10" type="button" id="form-button-save" ng-click="submit()">
                                        <i class="fa fa-check"></i>Save</button>
                        <button ng-if="mode==='edit'" class="btn btn-default btn-success b10" type="button" id="form-button-save" ng-click="submit()">
                                        <i class="fa fa-check"></i>Update</button>
                        <button class="btn btn-default cancel-button b10" type="button" id="cancel-button" ui-sref="adminProducts">
                                        <i class="fa fa-warning"></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
