<section id="slider" ng-controller="sliderController">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active" ng-repeat="slider in sliders" ng-if="$index==0">
                            <div class="col-sm-6">
                                <h1>{{slider.name}}</h1>
                                <h2>{{slider.description}}</h2>
                                <a href="{{slider.redirectURL}}">Get it now</a>
                            </div>
                            <div class="col-sm-6">
                                <img ng-src="{{slider.image}}" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item" ng-repeat="slider in sliders" ng-if="$index!=0">
                            <div class="col-sm-6">
                                <h1>{{slider.name}}</h1>
                                <h2>{{slider.description}}</h2>
                                <a href="{{slider.redirectURL}}">Get it now</a>
                            </div>
                            <div class="col-sm-6">
                                <img ng-src="{{slider.image}}" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/slider-->
