<div class="panel" ng-controller="cartController">
    <div>
        <script type="text/javascript">
            var specialKeys = new Array();
            specialKeys.push(8); //Backspace
            function IsNumeric(e) {
                var keyCode = e.which ? e.which : e.keyCode
                var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
                return ret;
            }
        </script>
        <section id="cart_items">
            <div class="container">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a ui-sref="container">Home</a></li>
                        <li class="active">Shopping Cart</li>
                    </ol>
                </div>

                <div ng-if="cart.length == 0" class="lead">
                    There are no items in the cart. </br>
                    <nav aria-label="Checkout Next Navigation">
                        <ul class="pager">
                            <li class="previous"><a ui-sref="checkout"><span aria-hidden="true">←</span> Continue Shopping</a></li>
                        </ul>
                    </nav>
                </div>
                <div ng-if="cart && cart.length">
                    <div class="table-responsive cart_info">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="cart_menu">
                                    <td class="image">Item</td>
                                    <td class="description"></td>
                                    <td class="price">Price</td>
                                    <td class="quantity">Quantity</td>
                                    <td class="total">Total</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="obj in cart">
                                    <td class="cart_product productinfo text-center">
                                        <a ui-sref="productDetails({id: obj.product._id})">
                                            <img ng-src="{{obj.product.image}}" alt="">
                                        </a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">{{obj.product.name}}</a></h4>
                                    </td>
                                    <td class="cart_price">
                                        <p>{{obj.product.rate}} </p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a class="cart_quantity_up" href="" ng-click="changeQuantity(obj.id, (obj.quantity + 1))"> + </a>
                                            <input class="cart_quantity_input" type="text" name="quantity" ng-model="obj.quantity" ng-change="changeQuantity(obj.id, obj.quantity)" autocomplete="off" size="2" onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;">
                                            <a class="cart_quantity_down" href="" ng-click="changeQuantity(obj.id, (obj.quantity - 1))"> - </a>
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">{{obj.total}}</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href="" ng-click="removeItem(obj.id)"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
        <!--/#cart_items-->
        <div ng-if="cart && cart.length">
            <section id="do_action">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="total_area">
                                <ul>
                                    <li>Cart Sub Total <span>{{payment.subTotal}}</span></li>
                                    <li>Discount <span>0</span></li>
                                    <li>Credit <span>0</span></li>
                                    <li>Delivery Charges <span>Free</span></li>
                                    <li>Tax <span>{{payment.tax}}</span></li>
                                    <li>Total Amount <span>{{payment.grandTotal}}</span></li>
                                </ul>
                                <a class="btn btn-default check_out" ui-sref="login">Check Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--/#do_action-->
    </div>
</div>
